h1{ color:red;}
h2{ color: #00ffff;}
h3{ color:rgb(0, 0, 255)}
h4{ color: rgba(0, 255, 0, 1);}
h5{ color:hsl(0, 100%, 50%);}
h6{ color: hsla(50, 100%, 50%, 1.0);}
p{ font-size: 50px; background-color: blue; color: #fff}
form{ border: 2px solid red; padding: 30px; margin: 50px; display: inline-flex; flex-direction: column;}