footer{
    width: 100%;
    display: block;    
}

footer .principal{
    padding: 80px 0;
}

footer .principal .conteudo{
    width: 100%;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: flex-start;
    align-items: flex-start;
}

footer .principal .conteudo .logo,
footer .principal .conteudo .menu,
footer .principal .conteudo .contatos{
    width: 100%;   
}

footer .principal .conteudo .menu,
footer .principal .conteudo .contatos{
    margin-top: 25px;
}

footer .principal .conteudo .logo{
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .principal .conteudo .logo > a{
    display: block;
}

footer .principal .conteudo .logo > a img{
    width: max-content;
    max-width: 100%;
    display: block;
    margin: 0 auto;
}

footer .principal .conteudo .logo > p{
    width: 100%;
    display: block;
    margin: 30px 0;
    text-align: center;
}

footer .principal .conteudo .logo .redes-sociais{
    width: 100%;
    display: inline-flex;
    align-items: center;
    justify-content: center;
    flex-wrap: wrap;
}

footer .principal .conteudo .logo .redes-sociais a{
    width: max-content;
    display: block;
    margin: 0px 12px;
}

footer .principal .conteudo .logo .redes-sociais a i{
    font-size: 20px;
    transition: var(--transition-time);
}

footer .principal .conteudo .logo .redes-sociais a:hover > i{
    color: var(--color-hover);    
}

footer .principal .conteudo .menu .titulo,
footer .principal .conteudo .menu .contatos .titulo{
    font-size: 24px;
    margin-bottom: 35px;
}

footer .principal .conteudo .menu nav{
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    justify-content: flex-start;
}

footer .principal .conteudo .menu nav a{
    margin-bottom: 15px;
    transition: var(--transition-time);
}

footer .principal .conteudo .menu nav a:hover{
    color: var(--color-hover);    
}

footer .principal .conteudo .contatos{
    padding-right: 0px;
}

footer .principal .conteudo .contatos .item{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
    margin-bottom: 40px;
}

footer .principal .conteudo .menu nav a:last-child,
footer .principal .conteudo .contatos .item:last-child{
    margin-bottom: 0px;
}

footer .principal .conteudo .contatos .item .icone{
    width: 48px;
    text-align: center;
}

footer .principal .conteudo .contatos .item .icone i{
    font-size: 30px;
    transition: var(--transition-time);
}

footer .principal .conteudo .contatos .item .info{
    width: calc(100% - 48px);
}

footer .principal .conteudo .contatos .item .info h4{
    font-size: 18px;
    font-family: var(--font-family-bold);
}

footer .principal .conteudo .contatos .item .info a{
    display: block;
    width: 100%;
    transition: var(--transition-time);
}

footer .principal .conteudo .contatos .item:hover > .icone i,
footer .principal .conteudo .contatos .item:hover > .info a{
    color: var(--color-hover);
}

footer .copyright{
    width: 100%;
    display: block;
    padding: 35px 0;
    border-top: 5px dashed var(--color-destaque);
}

footer .copyright .conteudo{
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;
}

footer .copyright .conteudo p{
    font-size: 14px;
    width: 100%;
    text-align: center;    
}

footer .copyright .conteudo p a{
    transition: var(--transition-time);
}

footer .copyright .conteudo p a:hover{
    color: var(--color-hover);
}

@media only screen and (min-width: 768px){
    footer .principal .conteudo .menu{
        width: 50%;
    }

    footer .copyright .conteudo p{
        width: max-content;
        max-width: 50%;
    }
}

@media only screen and (min-width: 1024px){
    footer .principal .conteudo .logo,
    footer .principal .conteudo .menu,
    footer .principal .conteudo .contatos{
        width: 25%;
        padding-right: 50px;
    }

    footer .principal .conteudo .menu,
    footer .principal .conteudo .contatos{
        margin-top: 0px;
    }

    footer .principal .conteudo .logo > a img{
        margin: 0;
    }

    footer .principal .conteudo .logo > p{
        text-align: left;
    }

    footer .principal .conteudo .logo .redes-sociais{
        justify-content: flex-start;
    }
}