.galeria_fotos{
    width: 100%;
    display: block;
    padding: 80px 0px;
    background-color: #292929;
}

.galeria_fotos .container{
    max-width: 1490px;
}

.galeria_fotos .conteudo .texto .descricao{
    max-width: 690px;
    display: block;
    margin: 0 auto 25px;
}

.galeria_fotos .conteudo .itens{
    width: 100%;
    display: flex;
    justify-content: flex-start;
    align-items: flex-start;
    flex-wrap: wrap;
}

.galeria_fotos .conteudo .itens .item{
    width: 100%;
    display: inline-block;    
}

.galeria_fotos .conteudo .itens .item a{
    width: 100%;
    display: block;
}

.galeria_fotos .conteudo .itens .item a .img,
.galeria_fotos .conteudo .itens .item a .img img{
    width: 100%;
    display: block;
    position: relative;
}

.galeria_fotos .conteudo .itens .item a .img .hover{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: rgba(7, 16, 85, 0.57);
    opacity: 0;
    visibility: hidden;   
}

.galeria_fotos .conteudo .itens .item a .img .hover i{
    width: 40px;
    height: 40px;
    line-height: 40px;
    font-size: 15px;
    text-align: center;
    background-color: var(--color-white);
    color: var(--color-destaque);
}

.galeria_fotos .conteudo .itens .item:hover > a > .img > .hover{
    opacity: 1;
    visibility: visible;
}

.galeria_fotos.listagem .conteudo .itens .item{
    margin-bottom: 35px;
}

@media only screen and (min-width: 768px){
    .galeria_fotos:not(.listagem) .conteudo .itens .item{      
        padding: 0px 40px;
    }

    .galeria_fotos.listagem .conteudo .itens .item{
        width: calc(50% - 35px);
        margin-right: 70px;
    }

    .galeria_fotos.listagem .conteudo .itens .item:nth-child(2n+2){        
        margin-right: 0px;
    }   
}

@media only screen and (min-width: 1024px){
    .galeria_fotos.listagem .conteudo .itens .item{
        width: calc(33.3333333% - 46.666667px);
        margin-right: 70px;
    }

    .galeria_fotos.listagem .conteudo .itens .item:nth-child(2n+2){        
        margin-right: 70px;
    } 
    
    .galeria_fotos.listagem .conteudo .itens .item:nth-child(3n+3){        
        margin-right: 0px;
    } 
}