.quem_somos{
    padding: 80px 0px;
    width: 100%;
    display: block;
    background-color: #292929;
}

.quem_somos .conteudo{
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}

.quem_somos .conteudo .texto{
    width: 100%;
    display: inline-block;
    margin-bottom: 45px;
}

.quem_somos .conteudo .texto .titulo{
    margin-bottom: 55px;
}

.quem_somos .conteudo .texto .descricao{
    margin-bottom: 55px;
}

.quem_somos .conteudo .texto .btn{
    margin: 0px;
}

.quem_somos .conteudo .video{
    width: 100%;
    display: inline-block;
}

.quem_somos .conteudo .video a{
    width: 100%;    
    padding-left: 25px;
    position: relative;
    display: flex;
    justify-content: center;
    align-items: center;
    height: auto;
    overflow: hidden;
}

.quem_somos .conteudo .video a img{
    width: 100%;
    display: block;    
}

.quem_somos .conteudo .video a p{
    position: absolute;
    left: 0;
    padding: 70px 50px 70px 25px;
    background-color: var(--color-white);
    color: var(--color-black);
    max-width: calc(50% + 12px);
    text-transform: uppercase;
    font-size: 15px;
}

.quem_somos .conteudo .video a i{
    padding: 30px;
    font-size: 40px;
    color: var(--color-destaque);
    background-color: var(--color-white);
    border-radius: 50%;
    width: 100px;
    height: 100px;
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    -webkit-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.41);
    -moz-box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.41);
    box-shadow: 0px 0px 24px 0px rgba(0, 0, 0, 0.41);
    transition: var(--transition-time);
}

.quem_somos .conteudo .video:hover > a i{
    transform: scale(1.1);
}

@media screen and (min-width: 1024px) {
    .quem_somos .conteudo .texto{
        width: 39%;
        margin-bottom: 0px;   
    }

    .quem_somos .conteudo .video{
        width: 52%;        
    }

    .quem_somos .conteudo .video a{        
        height: 100%;        
    }
    
    .quem_somos .conteudo .video a img{
        width: auto;        
        min-height: 100%;
        min-width: 100%;
        max-height: 100%;
        max-width: 100%;
        object-fit: cover;
        left: 25px;
        position: absolute;
    }
}