.servico{
    width: 100%;
    display: block;
    padding: 80px 0;
}

.servico .conteudo{
    width: 100%;
    display: block;
}

.servico .conteudo img{
    width: 100%;
    display: block;
    margin-bottom: 50px;
}

@media only screen and (min-width: 1024px){
    .servico .conteudo img{
        width: 46%;       
        margin-left: 50px;
        margin-bottom: 30px;
        float: right;
    }
    
}