.slider_banner,
.slider_banner .conteudo,
.slider_banner .conteudo .itens,
.slider_banner .conteudo .itens .item a,
.slider_banner .conteudo .itens .item a img{
    width: 100%;
    display: block;
}

.slider_banner{ 
    z-index: 0;
    position: relative;
}

.slider_banner .conteudo .itens .item{
    width: 100%;
    display: inline-block;
}

.slider_banner .conteudo .itens{
    position: relative;    
}

.slider_banner .conteudo .itens .slick-arrow{
    position: absolute;
    z-index: 1;
    top: calc(50% - 20px);    
    font-size: 30px;    
}

.slider_banner .conteudo .itens .slick-arrow i:before{
    color: var(--color-white);
    transition: var(--transition-time);
}

.slider_banner .conteudo .itens .slick-arrow:hover > i:before{
    color: var(--color-hover);    
}

.slider_banner .conteudo .itens .slick-arrow.slick-prev{
    left: 25px;
}

.slider_banner .conteudo .itens .slick-arrow.slick-next{
    right: 25px;
}

@media only screen and (min-width: 1160px) {
    .slider_banner{
        margin-top: -54px;       
    }
}